<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>


</head>

<body class="dark-mode">
    <div id="alert" class="alert" style="display: none;"></div>
    <!-- TOP BANNER-->
    <div class="banner">
        <div class="banner__content">
            <div class="banner__logo">
                <img src="https://www.unf.edu/images/logos/UNFLogo.svg" alt="University of North Florida" width="unset"
                    height="100px">
            </div>
            <div class="banner__title">
                <img src="{{ url_for('static', filename='images/Banner.png') }}" alt="Banner">
            </div>
            <div class="banner__options">
                <button class="banner__options" type="button">
                    <span class="material-icons">
                        settings
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!--LEFT SIDEBAR-->
    <div class="sidenav">
        <a href="#">Required Classes</a>
        <div class="required_course_section">
            Select Major
            <select name="selectMajorDropdown" id="major-select">
                <option value="Select" disabled selected>Select</option>
                <option value="computer_science">Computer Science</option>
                <option value="data_science">Data Science</option>
                <option value="information_systems">Information Systems</option>
                <option value="information_science">Information Science</option>
                <option value="information_technology">Information Technology</option>
            </select>
            <ul id="required-courses-list">

            </ul>
        </div>
        <div class="required_course_section">
            Total Credits: <strong>120</strong>

        </div>
        <div class="progress-container">
            <svg class="progress-ring" width="200" height="200">
                <!-- Outer circle -->
                <circle class="progress-ring-circle" fill="transparent" stroke="white" stroke-width="10" cx="70" cy="70"
                    r="65">
                </circle>
                <!-- Inner circle indicating progress -->
                <circle class="progress-ring-circle-progress" fill="transparent" stroke="green" stroke-width="10"
                    cx="70" cy="70" r="65"></circle>
            </svg>
            <div class="progress-text">0%</div>
            <div class="status-text-container">
                <p id="status-text"></p>
            </div>
        </div>


    </div>

    <!-- PANEL CONTAINING ALL PANEL ELEMENTS-->
    <div class="main_container">
        <div class="panel_container">


            <!-- COURSE CATALOG PANEL -->
            <div class="panel1 resizable">
                <p> <strong>Course Catalog</strong></p>
                <div class="course_catalog">
                    <fieldset>
                        <label for="Filter Options">
                            <legend>Search Criteria</legend>
                            <div class="filter_names" margin-top="25px">
                                <select name="filter1" id="filter1" onchange="updateSearchResults()"
                                    class="filter-dropdown">
                                    <option> Subject</option>
                                    <option value="CAI"> CAI</option>
                                    <option value="CAP"> CAP</option>
                                    <option value="CDA"> CDA</option>
                                    <option value="CEN"> CEN</option>
                                    <option value="CGS"> CGS</option>
                                    <option value="CIS"> CIS</option>
                                    <option value="CNT"> CNT</option>
                                    <option value="COP"> COP</option>
                                    <option value="COT"> COT</option>
                                    <option value="IDC"> IDC</option>
                                    <option value="MAC"> MAC</option>
                                    <option value="MAS"> MAS</option>
                                    <option value="SLS"> SLS</option>
                                    <option value="SPC"> SPC</option>
                                    <option value="STA"> STA</option>
                                </select>

                                <select name="filter2" id="filter2" onchange="updateSearchResults()"
                                    class="filter-dropdown">
                                    <option> Semester</option>
                                    <option value="Spring"> Spring</option>
                                    <option value="Summer"> Summer</option>
                                    <option value="Fall"> Fall</option>
                                </select>

                                <input type="text" name="filter3" id="filter3" onchange="updateSearchResults()"
                                    placeholder="Course Number">
                                </input>
                            </div>
                        </label>
                    </fieldset>

                    <!-- SEARCH AND SUBMIT -->
                    <div class="selection_bar">
                        <form id="searchForm" hx-post="/search" hx-target="#results">
                            <input type="text" id="search-input" name="search_query" placeholder="Search Course..."
                                class="search_bar">
                            <button type="submit" class="search_button">Search</button>
                            <input type="hidden" name="filter1" id="hidden-filter1" value="">
                            <input type="hidden" name="filter2" id="hidden-filter2" value="">
                            <input type="hidden" name="filter3" id="hidden-filter3" value="">
                        </form>
                    </div>
                    <div id="results" class="search_results">
                        <table class="search_table">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- Tab Dropdown -->
                    <div class="tab">
                        <button type="button" class="completedCourseButton"
                            onclick="openModal('completedCoursesModal')">My Completed
                            Courses</button>
                    </div>

                    <!-- Content for Completed Courses Tab -->
                    <div id="completedCoursesModal" class="modal">
                        <div class="modal-content-completed">
                            <span class="close" onclick="closeModal('completedCoursesModal')">&times;</span>
                            <h2>Completed Courses</h2>
                            <div id="completedCoursesList">
                                {% for course in completed_courses %}
                                <div class="course-item">
                                    <span>{{ course.course_name }}</span>
                                    <!-- Button to mark course as incomplete -->
                                    <form action="/remove-course" method="post">
                                        <input type="hidden" name="course_id" value="{{ course.course_id }}">
                                        <button type="submit" class="remove-course-button">Remove</button>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="expand-button" onclick="toggleExpand()">&#9660;</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- CALENDAR PANEL-->
            <div class="panel2 resizable" id="panel2">
                <p>Calendar</p>
                <div class="calendarSelection">
                    <legend>Enter Academic Year</legend>
                    <div class="calendarInputs">
                        <label for="startYear">Start: </label>
                        <select name="startYear" id="startYear" class="filter-dropdown">
                            <option value="select" disabled>Select</option>
                        </select>

                        <label for="endYear">End: </label>
                        <select name="endYear" id="endYear" class="filter-dropdown">
                            <option value="select" disabled>Select</option>
                        </select>
                    </div>
                </div>
                <div class="generate-section">
                    <button onclick="generateSemesters()" class="generate-button">Generate Schedule</button>
                </div>
                <div class="generated-panel">
                    <div id="generatedDivs"></div>
                </div>

            </div>

            <!-- RIGHT SIDEBAR -->
            <div class="extra_buttons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal"
                    hx-get="/email-form">
                    Send Email
                </button>
                <button type="button" class="btn btn-primary2" data-toggle="modal" data-target="#posModal">
                    Generate Plan of Study
                </button>
                <button class="openbtn" onclick="openNav()">&#9776;Stats</button>
                <button type="button" class="btn btn-primary3" data-toggle="modal" data-target="#helpModal">
                    Help
                </button>
            </div>

            <div id="mySidepanel" class="sidepanel">
                <h2>Overview</h2> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            </div>

            <!-- POPUP WINDOW FOR EMAIL-->
            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" hx-boost>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Email Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" hx-target="#emailModal .modal-body">
                            <form action="/send-email" method="post">
                                <label for="to">To:</label>
                                <input type="email" id="to" name="to" required><br><br>
                                <label for="subject">Subject:</label>
                                <input type="text" id="subject" name="subject"><br><br>
                                <label for="message">Message:</label><br>
                                <textarea id="message" name="message" rows="4"></textarea><br><br>
                                <label for="attachment">Attachment:</label>
                                <input type="file" id="attachment" name="attachment"><br><br>
                                <label for="cc">CC:</label>
                                <input type="email" id="cc" name="cc"><br><br>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- POPUP WINDOW FOR PLAN OF STUDY -->
            <div class="modal fade" id="posModal" tabindex="-1" role="dialog" aria-labelledby="posModalLabel"
                aria-hidden="true" hx-boost>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="posModalLabel">Plan of Study</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" hx-target="#posModal .modal-body">
                            <!-- Content for generating Plan of Study -->
                            <form id="pdfForm" action="/generate_pdf" method="post" target="_blank">
                                <!--<label for="year">Classification:</label>
                                <select name="year" id="year">
                                    <option value="1">Freshman</option>
                                    <option value="2">Sophomore</option>
                                    <option value="3">Junior</option>
                                    <option value="4">Senior</option>
                                </select><br><br>-->
                                <input type="hidden" name="majorDropdown" id="hidden-major-dropdown" value="">
                                <label for="Name">Name:</label>
                                <input type="text" id="Name" name="NameField" required><br><br>
                                <label for="Name">N#:</label>
                                <input type="text" id="N-Number" name="N-Number" required><br><br>

                                <!-- Additional fields for generating Plan of Study can be added here -->
                                <button type="submit">Generate POS</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Help POPUP Window-->
            <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="helpModalLabel">How to Use the Plan of Study</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Add your help content here -->
                            <h6>Welcome to the Plan of Study WebApp for the School of Computing</h6>
                            <h6><strong>Overview:</strong></h6>
                            <p>This WebApp was desgined to streamline the Plan of Study creation process for College of
                                Computing Students. Here, students can input their relevant academic information/history
                                to automatically generate a Plan of Study form that they can email to their advisor.
                            </p>
                            <h6><strong>Select Major:</strong></h6>
                            <p>A list of all required Core Courses for the major selected in the
                                dropdown box will be displayed
                            </p>
                            <h6><strong>Course Catalog:</strong></h6>
                            <p>This course catalog contains all relevant courses for Computing Majors. Searching through
                                the catalog yields a class' relevant information along with an "Add" button. The "Add"
                                button is used to add the course to a list of courses that have already been completed.
                                Search Filters may be applied using the dropdowns above to limit
                                search results.
                            </p>
                            <h6><strong>Calendar:</strong></h6>
                            <p>The Calendar is used in determining which academic semesters to include/exclude from the
                                generated Plan of Study. The Start
                                and End dropdowns indicate admission year and graduation year respectively. After
                                generating relevant academic years,
                                students may choose to exclude semesters they will not be taking by clicking the "X"
                                next to the semester.
                            </p>
                            <h6><strong>Send Email:</strong></h6>
                            <p>A Plan of Study form may be emailed to an advisor by inputting the relevant information
                            </p>
                            <h6><strong>Generate Plan of Study:</strong></h6>
                            <p>Used to generate Plan of Study form after all preceding fields have been filled out
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



</html>
