html,
body {
    margin: 0;
    background-color: rgb(142, 144, 145);
    height: 100%;
    overflow: auto;
}

.light-mode {
    background-color: white;
}

.banner {
    background: #0A233f;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 5px;
    border-color: white;
    border-style: solid;
    border-width: thin;
}

.banner__logo {
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}

.banner__content {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
}

.banner__title {
    display: inline-block;
    margin-left: auto;
}

.banner__options {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: auto;
    color: white;
}

.banner__options>span {
    color: white;
    background: none;
    margin-left: auto;
}

.sidenav {
    /* Styles for the sidebar */
    position: fixed;
    /* Fixed positioning to keep it stationary */
    top: 200;
    /* Position from the top of the viewport */
    left: 0;
    /* Position from the left of the viewport */
    height: 100%;
    /* Full height of the viewport */
    width: 220px;
    /* Width of the sidebar */
    background-color: rgb(15, 20, 30);
    z-index: 1;
    /* Ensure sidebar appears above other elements */
    padding-top: 140px;
}

.sidenav li {
    color: white;
    max-width: min-content;
    position: sticky;
    padding-left: none;
}

.sidenav a {
    color: white;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(109, 136, 162);
    align-items: center;
    position: sticky;
    top: 0;
}


.sidenav a:hover {
    color: lightblue;
}

.required_course_section {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.required_course_section div {
    margin-top: 50px;
    margin-left: 10px;
    padding: 10px;
}

#required-courses-list {
    max-height: 400px;
    /* Set a maximum height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling if the content exceeds the maximum height */
}

.main_container {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    height: 100%;
    padding-left: 220px;
    padding-top: 140px;
    top: 70;
}

.panel_container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    max-width: calc(100% - 100px);
    max-height: 100%;
    overflow: hidden;
}

.panel1,
.panel2,
.panel3 {
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 2px 1px 10px #0A233f;
    margin: 20px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 100vh;
    border-color: green;
    border-style: 2px solid;
}

.panel1 {
    width: 2100px
}


.panel3 {
    height: calc(100% - 100px);
    width: calc(100% - 40px);
}

.resizable {
    flex-grow: 0.5;
    min-width: 0;
    overflow: auto;
    max-height: 90%;
}

.course_catalog {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: whitesmoke;
}

.search_button {
    width: 100%;
    background-color: #0A233f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search_results {
    overflow: auto;
    max-height: 400px;
}

.search_button:hover,
.generate-button:hover {
    background-color: lightgrey;
    color: black;
}

.semester-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


legend {
    color: grey;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset {
    max-width: 100%;
    color: black
}

.btn-primary {
    background-color: #0A233f;
    color: #fff;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    font-size: 10px;
    margin-left: auto;
    right: 10px;
    top: 0;
    max-width: 80px;
}

.btn-primary2 {
    background-color: #0A233f;
    color: #fff;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    font-size: 10px;
    margin-left: auto;
    right: 10px;
    top: 30;
    max-width: 80px;
}

.btn-primary:hover,
.btn-primary2:hover,
.btn-primary3:hover,
.openbtn:hover {
    background-color: rgb(109, 136, 162);
    color: white;
}

.btn-primary3 {
    background-color: #0A233f;
    color: #fff;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 550px;
    border-radius: 50px;
    font-size: 10px;
    margin-left: auto;
    right: 10px;
    max-width: 80px;
}

.smaller-box {
    background-color: white;
    border: 1px solid #ccc;
    border-color: black;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    max-width: min-content;
}

.extra_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 160px;
    padding: 0 20px;
    position: fixed;
    right: 0;
}

.semester-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.remove-button {
    color: grey;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

}

.generate-button {
    background-color: #0A233f;
    border-color: #0A233f;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 6px;
    margin-top: 10px;
}


.panel2_content {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;

}

.generated-panel {
    overflow: auto;
    overflow-x: hidden;
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    margin-top: 10px;
}


th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    font-size: small;
}

.dark-mode th {
    background-color: grey;
}

.light-mode th {
    background-color: whitesmoke;
}

tr:hover {
    background-color: #f5f5f5;
}

.completed-course {
    color: green;
    /* Change color as needed */
}

/* Adjust the width and other properties of the generated required courses list items */


.required_course_section select {
    width: 80%;
    /* Set the width to fill the sidebar */
    padding: 8px;
    /* Add padding for better appearance */
    margin-top: 10px;
    /* Adjust margin for spacing */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    font-family: 'Arial', sans-serif;
    /* Adjust font family if needed */
    font-size: 14px;
    /* Adjust font size if needed */
}

.required_course_section ul {
    padding-left: 30px;
    margin-top: 15px;
    /* Remove default left padding */
}

.required_course_section li {
    list-style-type: decimal;
    /* Remove default list style */
    padding-left: 10px;
    font-size: small;
    max-width: max-content;
    /* Adjust the left padding as needed */
}

.required_course_section p {

    margin-top: none;
}

.search-page {
    display: none;
}

.search-page.active {
    display: block;
}

.dark-mode input#filter3 {
    /* Add your styling properties here */
    width: 115px;
    /* Example: Set width */
    padding: 1px;
    /* Example: Add padding */
    border: 1px solid #ccc;
    /* Example: Add border */
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(181, 181, 181);
    /* Example: Add border radius */
    /* Add more styles as needed */
}

.light-mode input#filter3 {
    /* Add your styling properties here */
    width: 115px;
    /* Example: Set width */
    padding: 1px;
    /* Example: Add padding */
    border: 1px solid #ccc;
    /* Example: Add border */
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    /* Example: Add border radius */
    /* Add more styles as needed */
}

input#filter3::placeholder {
    color: #0A233f;
}

.dark-mode .filter-dropdown {
    width: 95px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0A233f;
    background-color: rgb(181, 181, 181);
}

.light-mode .filter-dropdown {
    width: 95px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0A233f;
    background-color: white;
}

li.completed-course {
    color: lightgreen;
}

#modal {
    position: relative;
}

.completedCourseButton {
    margin-top: 20px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 43%;
    top: 60px;
    width: 26%;
    height: 100%;
}


.expand-button {
    border: none;
    /* Hide the button */
}

.expand-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: 500px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.course-content {
    display: none;
    /* Initially hide the content */
    min-height: fit-content;
    /* Set the min-height to fit-content */
}

#emailModal,
#posModal {
    z-index: 1500;
}

.modal-content-completed h2 {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 10px;
    margin: 0;
}

.modal-content-completed {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    z-index: 99999;
    left: 81%;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Results table Add Buttons*/
.add-button {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    color: white;
    /* White text */
    padding: 10px 20px;
    /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    /* Rounded corners */
}

/* CSS for the "Add" button when hovered over */
.add-button:hover {
    background-color: rgb(109, 136, 162);
    /* Darker green background on hover */
}

.add-button.clicked {
    animation: changeColor 0.5s;
    /* Light green background when clicked */
}

@keyframes changeColor {
    0% {
        background-color: #0A233f;
    }

    100% {
        background-color: #4CAF50;
    }
}

/*alert box for add course*/
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* progress bar */
/* progress bar */
.progress-container {
    position: absolute;
    bottom: 110px;
    width: 140px;
    /* Adjusted width */
    height: 140px;
    /* Adjusted height */
    margin-left: 40px;
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring-circle {
    transition: stroke-dashoffset 0.35s;
}

.progress-ring-circle-progress {
    stroke-dasharray: 408.41;
    /* Adjusted circumference (2 * Ï€ * r) */
    stroke-dashoffset: 408.41;
    /* Full circumference */
    transition: stroke-dashoffset 0.35s;
}

.progress-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.status-text-container {
    text-align: center;
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    /* Adjust margin as needed */
}

.remove-course-button {
    background-color: red;
    color: white;
    border: none;
    padding: 1px 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
    font-size: smaller;
    font-family: monospace;
}

.remove-course-button:hover {
    background-color: darkred;
}

/* The sidepanel menu */
.sidepanel {
    height: 400px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 500px;
    right: 0;
    background-color: #0A233f;
    /* Black*/
    overflow: hidden;
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    border-radius: 10px;
    border-color: white;
    border-style: groove;
}

/* The sidepanel links */
.sidepanel h2 {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    top: 10px;
    font-size: 20px;
    position: absolute;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* When you mouse over the navigation links, change their color */
.sidepanel a {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    right: 10px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    background-color: #0A233f;
    color: #fff;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    right: 10px;
    margin-left: auto;
    margin-top: 20px;
    z-index: 1000;
    max-width: 80px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 8px;
}
