html,
body {
    margin: 0;
    background-color: rgb(142, 144, 145);
    height: 100%;
}

.banner {
    background: #0A233f;
    position: relative;
}

.banner__logo {
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
}

.banner__content {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
}

.banner__title {
    flex-grow: 1 auto;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
    margin-left: auto;
}

.banner__options {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: auto;
    color: white;
}

.banner__options>span {
    color: white;
    background: none;
    margin-left: auto;
}

.sidenav {
    background-color: rgb(15, 20, 30);
    height: 100vh;
    width: 160px;
}

.sidenav li {
    color: white;
    max-width: min-content;
}

.sidenav a {
    color: white;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-top: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(109, 136, 162);
    align-items: center;
}

.sidenav a:hover {
    color: lightblue;
}

.required_course_section {
    color: white;
}

.required_course_section {
    margin-top: 50px;
    margin-left: 10px;
}

.main_container {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.panel_container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    max-width: calc(100% - 100px);
    max-height: 100%;
    overflow: hidden;
}

.panel1,
.panel2,
.panel3 {
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    min-height: fit-content;
    margin: 20px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.panel1,
.panel2 {
    width: calc(50% - 40px);
}

.panel3 {
    height: calc(100% - 100px);
    width: calc(100% - 40px);
}

.resizable {
    flex-grow: 0.5;
    min-width: 0;
    overflow: auto;
    border: 1px solid #ccc;
    max-height: 90%;
}

.course_catalog {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: whitesmoke;
}

.search_button {
    width: 100%;
    background-color: #0A233f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search_button:hover {
    background-color: lightgrey;
    color: black;
}

.semester-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


legend {
    color: grey;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset {
    max-width: 100%;
    color: black
}

.btn-primary {
    background-color: #0A233f;
    color: #fff;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    font-size: 10px;
    margin-left: auto;
    position: absolute;
    right: 10px;
    float: right;
    top: 0;
    max-width: 80px;
}



.smaller-box {
    background-color: white;
    border: 1px solid #ccc;
    border-color: black;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    max-width: min-content;
}

.extra_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.semester-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.remove-button {
    color: grey;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

}

.generate-button {
    background-color: #0A233f;
    border-color: #0A233f;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 6px;
    margin-top: 10px;
}


.panel2_content {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;

}

.generated-panel {
    overflow: auto;
    overflow-x: hidden;
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 5px;
}
